/.build/
/_build/
/Build
/blib

/carton.lock
/.carton/
/local/

nytprof.out
nytprof/

cover_db/

*.bak
*.old
*~
*.swp
*.o
*.obj

!LICENSE

MYMETA.*

/Linux-Socket-Accept4-*
lib/Linux/Socket/Accept4.c
!lib/Linux/Socket/ppport.h
